<div>
    <p>Title :<b>@Movie.Taitel</b></p>
    <p>Release Date : <b>@Movie.RilisDet.ToString("dd MMM yyyy")</b></p>
</div>

@if (DisplayTheButton)
{
    <div>
        <button @onclick="@(() => DeleteMovie.InvokeAsync(Movie))">Delete</button>
    </div>
}


@code {
    [Parameter] public Movie Movie { get; set; }
    [Parameter] public bool DisplayTheButton { get; set; } = false;
    [Parameter] public EventCallback<Movie> DeleteMovie { get; set; }
}
